<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/ig.css" />
  </head>
  <body>
    
   
      <div id="container1" class="ig-container container">
	<div id="row1" class="row show-grid">
	  <div id="ig-logo-container" class="ig-logo-container">
	    <img id="ig-logo" class="ig-logo-image" src="/static/icons/igneous-logo.png"></img>
	  </div>
	</div>
	
	<div id="row2" class="row show-grid"></div>
	<div id="row3" class="row show-grid">
	  <div id="ig-graphsel-buttonholder" class="ig-graphsel-buttonholder">
	  <button id="graphsel-button" class="ig-graphsel-button" type="button">View</button>
	  </div>
	</div>
      </div>


  </body>
  <script>
    $(document).ready(function () {

	
	$(".ig-logo-container").addClass("col-md-6 col-md-offset-3");
	$("#row2").append($(".ig-graphholder"));
	$(".ig-graphholder").addClass("col-sm-12 col-md-3 col-md-offset-0");
	$(".ig-graphsel-buttonholder").addClass("col-md-6 col-md-offset-3");

	$('.ig-graphsel').data('selected', false);
	$('.ig-graphsel').click(function() {
	    if ($(this).data('selected') == false){
		$(this).data('selected', true);
		//$(this).removeClass("ig-graphsel-hoverable").addClass("ig-selected");
		$(this).addClass("ig-selected");
	    } else {
		$(this).data('selected', false);
		//$(this).removeClass("ig-selected").addClass("ig-graphsel-hoverable");
		$(this).removeClass("ig-selected");
	    }
	});
	

	var dat = [];
	var i = 0;
	var subDat = [];

	//
	// Push the graph data
	// 
	{{range .Data}}

	subDat = [];

	{{range .}}

	subDat.push({{.}});

	{{end}}

	dat.push(subDat)

	{{end}};
	window.console.log(dat);



	var graphData = [{
	    // Visits
	    data: [ [6, 1300], [7, 1600], [8, 1900], [9, 2100], 
		    [10, 2500], [11, 2200], [12, 2000], [13, 1950], 
		    [14, 1900], [15, 2000] ],
	    color: '#71c73e'
	}, {
	    // Returning Visits
	    data: [ [6, 500], [7, 600], [8, 550], [9, 600], 
		    [10, 800], [11, 900], [12, 800], [13, 850], 
		    [14, 830], [15, 1000] ],
	    color: '#77b7c5',
	    points: { radius: 4, fillColor: '#77b7c5' }
	}
			];
	
	
	
	$.plot($('#graph-lines'), graphData, {
	    series: {
		points: {
		    show: true,
		    radius: 5
		},
		lines: {
		    show: true
		},
		shadowSize: 0
	    },
	    grid: {
		color: '#646464',
		borderColor: 'transparent',
		borderWidth: 20,
		hoverable: true
	    },
	    xaxis: {
		tickColor: 'transparent',
		tickDecimals: 2
	    },
	    yaxis: {
		tickSize: 1000
	    }
	});
	
	// Bars
	$.plot($('#graph-bars'), graphData, {
	    series: {
		bars: {
		    show: true,
		    barWidth: .9,
		    align: 'center'
		},
		shadowSize: 0
	    },
	    grid: {
		color: '#646464',
		borderColor: 'transparent',
		borderWidth: 20,
		hoverable: true
	    },
	    xaxis: {
		tickColor: 'transparent',
		tickDecimals: 2
	    },
	    yaxis: {
		tickSize: 1000
	    }
	});
	
	
	$('#graph-bars').hide();
	
	$('#lines').on('click', function (e) {
	    $('#bars').removeClass('active');
	    $('#graph-bars').fadeOut();
	    $(this).addClass('active');
	    $('#graph-lines').fadeIn();
	    e.preventDefault();
	});
	
	$('#bars').on('click', function (e) {
	    $('#lines').removeClass('active');
	    $('#graph-lines').fadeOut();
	    $(this).addClass('active');
	    $('#graph-bars').fadeIn().removeClass('hidden');
	    e.preventDefault();
	});


	function showTooltip(x, y, contents) {
	    $('<div id="tooltip">' + contents + '</div>').css({
		top: y - 16,
		left: x + 20
	    }).appendTo('body').fadeIn();
	}
	
	var previousPoint = null;
	
	$('#graph-lines, #graph-bars').bind('plothover', function (event, pos, item) {
	    if (item) {
		if (previousPoint != item.dataIndex) {
		    previousPoint = item.dataIndex;
		    $('#tooltip').remove();
		    var x = item.datapoint[0],
		    y = item.datapoint[1];
		    showTooltip(item.pageX, item.pageY, y + ' visitors at ' + x + '.00h');
		}
	    } else {
		$('#tooltip').remove();
		previousPoint = null;
	    }
	});
	
	
    });
    
  </script>
</html>
