/* line 21, ../sass/sass/ig.scss */
html, body, .container {
  padding: 10px;
  height: 100%;
}

/* line 26, ../sass/sass/ig.scss */
.margin-base-vertical {
  margin: 40px 0;
}

/* line 37, ../sass/sass/ig.scss */
.ig-font, .ig-graphsel-label, .ig-graph-label, .ig-graph-togglebutton, .ig-graph-weeklybutton, .ig-graph-hourlybutton {
  font-size: 14px;
  font-family: 'Oxygen', sans-serif;
}

/* line 43, ../sass/sass/ig.scss */
.ig-selected {
  background-color: #c8c8c8;
}

/* line 51, ../sass/sass/ig.scss */
.ig-graphholder {
  padding: 20px;
}

/* line 55, ../sass/sass/ig.scss */
.ig-graphsel-hoverable:hover {
  box-shadow: 0px 0px 0px 2px #787878;
}

/* line 60, ../sass/sass/ig.scss */
.container [class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
  border: 1px solid #ddd;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

/* line 70, ../sass/sass/ig.scss */
.ig-graphsel, .ig-empty, .ig-graphsel-button {
  height: 170px;
  border-radius: 20px;
  cursor: pointer;
  /*border: solid 3px black;*/
}

/* line 78, ../sass/sass/ig.scss */
.ig-empty {
  font-weight: bold;
  font-size: 18px;
  color: white;
  background: white;
  border: none;
  height: 40px;
  cursor: auto;
}

/* line 91, ../sass/sass/ig.scss */
.ig-graphsel-buttonholder {
  padding: 20px;
}

/* line 96, ../sass/sass/ig.scss */
.ig-graphsel-button {
  font-weight: bold;
  font-size: 18px;
  color: white;
  background: black;
  border: none;
  height: 40px;
  width: 100%;
}

/* line 109, ../sass/sass/ig.scss */
.ig-button-column {
  width: 50%;
  margin: 0 auto;
}

/* line 115, ../sass/sass/ig.scss */
.ig-graphsel-button:hover {
  background: #8c8c8c;
}

/* line 121, ../sass/sass/ig.scss */
.ig-graphsel:active, .ig-empty:active, .ig-graphsel-button:active {
  /*background-color: rgb(200,200,200);*/
}

/* line 125, ../sass/sass/ig.scss */
.ig-graphsel-image {
  position: absolute;
  width: 100px;
  height: 100px;
  left: calc(50% - 45px);
  top: 35px;
}

/* line 135, ../sass/sass/ig.scss */
.ig-graphsel-label {
  position: absolute;
  bottom: 25px;
  color: #464646;
  left: 0px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  width: 100%;
}

/* line 149, ../sass/sass/ig.scss */
.ig-graph {
  border: solid 3px gray;
  height: 500px;
  width: 100%;
  overflow: hidden;
  float: left;
  margin: 20px;
  border-radius: 10px;
  background-color: white;
}

/* line 161, ../sass/sass/ig.scss */
.ig-graph-lines, .ig-graph-lines-week, .ig-graph-lines-hour {
  position: absolute;
  top: 15%;
  height: 80%;
  width: 97%;
}

/* line 179, ../sass/sass/ig.scss */
.ig-graph-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 15px;
  left: 32px;
  cursor: pointer;
}

/* line 189, ../sass/sass/ig.scss */
.ig-graph-label {
  font-size: 25px;
  position: absolute;
  top: 23px;
  font-weight: bold;
  left: 100px;
}

/* line 198, ../sass/sass/ig.scss */
.ig-graph-togglebutton, .ig-graph-weeklybutton, .ig-graph-hourlybutton {
  position: absolute;
  overflow: hidden;
  height: 30px;
  width: 60px;
  font-size: 12px;
  top: 25px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  border: solid 2px gray;
}

/* line 214, ../sass/sass/ig.scss */
.ig-graph-togglebutton:hover, .ig-graph-weeklybutton:hover, .ig-graph-hourlybutton:hover {
  border: solid 2px #646464;
}

/* line 219, ../sass/sass/ig.scss */
.ig-graph-inactive {
  opacity: 0;
  visibility: hidden;
}

/* line 225, ../sass/sass/ig.scss */
.ig-graph-active {
  opacity: 1;
  visibility: visible;
}

/* line 231, ../sass/sass/ig.scss */
.ig-graph-togglebutton-toggled {
  background-color: gray;
}

/* line 235, ../sass/sass/ig.scss */
.ig-graph-weeklybutton {
  right: 20px;
}

/* line 240, ../sass/sass/ig.scss */
.ig-graph-hourlybutton {
  right: 100px;
}

/* line 245, ../sass/sass/ig.scss */
.ig-color-indicator {
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 10px;
  background-color: black;
}
