/* line 25, ../sass/sass/ig.scss */
body {
  background-color: #4f4d4e;
}

/* line 30, ../sass/sass/ig.scss */
.margin-base-vertical {
  margin: 40px 0;
}

/* line 36, ../sass/sass/ig.scss */
.ig-logo-container {
  positon: relative;
  left: -10px;
  background-color: transparent !important;
  border: none !important;
}

/* line 43, ../sass/sass/ig.scss */
.ig-page-label {
  position: relative;
  height: 116px;
}

/* line 49, ../sass/sass/ig.scss */
.ig-page-label-content {
  position: absolute;
  bottom: 7px;
  font-size: 43px !important;
  font-weight: 300;
  white-space: nowrap;
  color: white;
  padding: 0px;
}

/* line 63, ../sass/sass/ig.scss */
.ig-font, .ig-page-label, .ig-graphsel-label, .ig-graph-label, .ig-graph-togglebutton, .ig-graph-weeklybutton, .ig-graph-hourlybutton {
  font-size: 14px;
  font-family: 'Oxygen', sans-serif;
}

/* line 69, ../sass/sass/ig.scss */
.ig-selected {
  background-color: #e76a03 !important;
  color: white !important;
  box-shadow: 0px 0px 0px 5px black !important;
  opacity: 1 !important;
}

/* line 76, ../sass/sass/ig.scss */
.ig-graphholder {
  padding: 20px;
}

/* line 81, ../sass/sass/ig.scss */
.ig-graphsel-hoverable {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  transition-property: background-color, box-shadow;
}

/* line 87, ../sass/sass/ig.scss */
.ig-graphsel-hoverable:hover {
  background-color: #c8c8c8;
  box-shadow: 0px 0px 0px 5px black;
}

/* line 93, ../sass/sass/ig.scss */
.container [class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 99, ../sass/sass/ig.scss */
.ig-graphsel, .ig-empty, .ig-graphsel-button {
  height: 170px;
  cursor: pointer;
  background-color: white;
  /*border: solid 3px black;*/
}

/* line 107, ../sass/sass/ig.scss */
.ig-empty {
  font-weight: bold;
  font-size: 18px;
  color: white;
  background: white;
  border: none;
  height: 40px;
  cursor: auto;
}

/* line 120, ../sass/sass/ig.scss */
.ig-graphsel-buttonholder {
  padding: 20px;
}

/* line 125, ../sass/sass/ig.scss */
.ig-graphsel-button {
  font-weight: bold;
  font-size: 18px;
  color: white;
  background: black;
  border: none;
  height: 40px;
  width: 100%;
}

/* line 138, ../sass/sass/ig.scss */
.ig-button-column {
  width: 50%;
  margin: 0 auto;
}

/* line 144, ../sass/sass/ig.scss */
.ig-graphsel-button:hover {
  background-color: #8c8c8c;
}

/* line 150, ../sass/sass/ig.scss */
.ig-graphsel:active, .ig-empty:active, .ig-graphsel-button:active {
  /*background-color: rgb(200,200,200);*/
}

/* line 154, ../sass/sass/ig.scss */
.ig-graphsel-image {
  position: absolute;
  width: 100px;
  height: 100px;
  left: calc(50% - 45px);
  top: 35px;
}

/* line 164, ../sass/sass/ig.scss */
.ig-graphsel-label {
  position: absolute;
  bottom: 25px;
  color: #464646;
  left: 0px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  width: 100%;
}

/* line 178, ../sass/sass/ig.scss */
.ig-graph {
  border: solid 3px gray;
  height: 500px;
  width: 100%;
  overflow: hidden;
  float: left;
  margin-bottom: 20px;
  border-radius: 0px;
  background-color: white;
}

/* line 190, ../sass/sass/ig.scss */
.ig-graph-lines, .ig-graph-lines-week, .ig-graph-lines-hour {
  position: absolute;
  top: 15%;
  left: 5%;
  height: 80%;
  width: 90%;
}

/* line 209, ../sass/sass/ig.scss */
.ig-graph-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 12px;
  left: 12px;
  cursor: pointer;
}

/* line 219, ../sass/sass/ig.scss */
.ig-graph-label {
  font-size: 25px;
  position: absolute;
  top: 23px;
  font-weight: bold;
  left: 100px;
}

/* line 231, ../sass/sass/ig.scss */
.ig-graph-inactive {
  opacity: 0;
  visibility: hidden;
}

/* line 237, ../sass/sass/ig.scss */
.ig-graph-active {
  opacity: 1;
  visibility: visible;
}

/* line 243, ../sass/sass/ig.scss */
.ig-graph-togglebutton, .ig-graph-weeklybutton, .ig-graph-hourlybutton {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  transition-property: opacity, background-color, border;
  position: absolute;
  overflow: hidden;
  height: 30px;
  font-size: 12px;
  top: 25px;
  background-color: white;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  width: 80px;
  border: solid 1px white;
  opacity: .5;
  padding: 2px;
}

/* line 262, ../sass/sass/ig.scss */
.ig-graph-togglebutton:hover, .ig-graph-weeklybutton:hover, .ig-graph-hourlybutton:hover {
  background-color: #fafafa;
  opacity: 1;
}

/* line 268, ../sass/sass/ig.scss */
.ig-graph-togglebutton-toggled {
  background-color: gainsboro;
  opacity: 1;
}

/* line 273, ../sass/sass/ig.scss */
.ig-graph-weeklybutton {
  right: 5.5%;
}

/* line 278, ../sass/sass/ig.scss */
.ig-graph-hourlybutton {
  right: calc(5.5% + 130px);
}

/* line 283, ../sass/sass/ig.scss */
.ig-color-indicator {
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 10px;
  background-color: black;
}

/* line 293, ../sass/sass/ig.scss */
#yaxisLabel {
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
