@import "igneous";


.graph {
    border: solid 3px gray;
    height: 500px;
    width: 100%;
    overflow: hidden;
    float: left;
    margin-bottom: 20px;
    border-radius: 0px;
    background-color: white;
}


.graph-lines {
    position: absolute;
    top: 15%;
    left: 5%;
    height: 80%;
    width: 90%;
}


.graph-lines-week {
    @extend .graph-lines;
}


.graph-lines-hour {
    @extend .graph-lines;
}


.graph-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 12px;
    left: 12px;
    cursor: pointer;
}


.graph-label {
    @extend .ig-font;
    font-size: 25px;
    position: absolute;
    top: 23px;
    font-weight: bold;
    left: 100px;
}




.graph-inactive {
    opacity: 0;
    visibility: hidden;
}


.graph-active {
    opacity: 1;
    visibility: visible;
}


.graph-togglebutton{
    @extend .ig-font;
    @include ig-transitionable;
    transition-property: opacity, background-color, border;
    position: absolute;
    overflow: hidden;
    height: 30px;
    font-size: 12px;
    top: 25px;
    background-color: white;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    width: 80px;
    border: solid 1px white;
    opacity: .5;
    padding: 2px;
}

.graph-togglebutton:hover{
    background-color: rgb(250,250,250);
    opacity: 1;
}


.graph-togglebutton-toggled {
    background-color: rgb(220,220,220);
    opacity: 1;
}

.graph-weeklybutton {
    @extend .graph-togglebutton;
    right: 5.5%;
}

.graph-hourlybutton {
    @extend .graph-togglebutton;
    right: calc(5.5% + 130px);
}

.color-indicator {
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 10px;
    background-color: black;
}



#yaxisLabel {
/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}