
@mixin ig-selectable-width {
    width: 130px;
}

@mixin ig-selectable-height {
    height: 170px;
}

@mixin ig-transitionable($dur: .2s, $timing: ease-out) {
  -webkit-transition-duration: $dur;
  transition-duration: $dur;
  transition-timing-function: $timing; 
}
 

@mixin default-margin {
}


html, body, .container {

}

body {
    background-color: rgb(79,77,78);
}


.margin-base-vertical {
    margin: 40px 0;
}



.ig-logo-container{
    positon: relative;
    left: -10px;
    background-color: transparent !important;
    border: none !important;
}

.ig-page-label {
    @extend .ig-font;
    position: relative;
    height: 116px;
}

.ig-page-label-content {
    position: absolute;
    bottom: 7px;
    font-size: 43px !important;
    font-weight: 300;
    white-space: nowrap;
    color: white;
    padding: 0px;
}

.ig-container {

}

.ig-font{
    font-size: 14px;
    font-family: 'Oxygen', sans-serif;
}


.ig-selected {
    background-color: rgba(231,106,3, 1) !important;
    color: white !important;
    box-shadow: 0px 0px 0px 5px black !important;
    opacity: 1 !important;
}

.ig-graphholder {
    padding: 20px;
}


.ig-graphsel-hoverable {
    @include ig-transitionable;
    transition-property: background-color, box-shadow;
}


.ig-graphsel-hoverable:hover {
    background-color: rgb(200,200,200);
    box-shadow: 0px 0px 0px 5px black;
}


.container [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
}


.ig-graphsel {
    @include ig-selectable-height;
    cursor: pointer;
    background-color: white;
    /*border: solid 3px black;*/
}


.ig-empty {
    @extend .ig-graphsel;
    @include default-margin;
    font-weight: bold;
    font-size: 18px;
    color: white;
    background: white;
    border: none;
    height: 40px;
    cursor: auto;
}


.ig-graphsel-buttonholder {
    padding: 20px;
}


.ig-graphsel-button {
    @extend .ig-graphsel;
    @include default-margin;
    font-weight: bold;
    font-size: 18px;
    color: white;
    background: black;
    border: none;
    height: 40px;
    width: 100%;
}


.ig-button-column {
    width: 50%;
    margin: 0 auto;
}


.ig-graphsel-button:hover {
    background-color: rgb(140,140,140);
}



.ig-graphsel:active {
    /*background-color: rgb(200,200,200);*/
}

.ig-graphsel-image {
    position: absolute;
    width: 100px;
    height: 100px;
    left: calc(50% - 45px);
    top: 35px;;
}



.ig-graphsel-label {
    @extend .ig-font;
    position: absolute;
    bottom: 25px;
    color: rgb(70,70,70);
    left: 0px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
}



.ig-graph {
    border: solid 3px gray;
    height: 500px;
    width: 100%;
    overflow: hidden;
    float: left;
    margin-bottom: 20px;
    border-radius: 0px;
    background-color: white;
}


.ig-graph-lines {
    position: absolute;
    top: 15%;
    left: 5%;
    height: 80%;
    width: 90%;
}


.ig-graph-lines-week {
    @extend .ig-graph-lines;
}


.ig-graph-lines-hour {
    @extend .ig-graph-lines;
}


.ig-graph-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 12px;
    left: 12px;
    cursor: pointer;
}


.ig-graph-label {
    @extend .ig-font;
    font-size: 25px;
    position: absolute;
    top: 23px;
    font-weight: bold;
    left: 100px;
}




.ig-graph-inactive {
    opacity: 0;
    visibility: hidden;
}


.ig-graph-active {
    opacity: 1;
    visibility: visible;
}


.ig-graph-togglebutton{
    @extend .ig-font;
    @include ig-transitionable;
    transition-property: opacity, background-color, border;
    position: absolute;
    overflow: hidden;
    height: 30px;
    font-size: 12px;
    top: 25px;
    background-color: white;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    width: 80px;
    border: solid 1px white;
    opacity: .5;
    padding: 2px;
}

.ig-graph-togglebutton:hover{
    background-color: rgb(250,250,250);
    opacity: 1;
}


.ig-graph-togglebutton-toggled {
    background-color: rgb(220,220,220);
    opacity: 1;
}

.ig-graph-weeklybutton {
    @extend .ig-graph-togglebutton;
    right: 5.5%;
}

.ig-graph-hourlybutton {
    @extend .ig-graph-togglebutton;
    right: calc(5.5% + 130px);
}

.ig-color-indicator {
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 10px;
    background-color: black;
}



#yaxisLabel {
/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}