
@mixin ig-selectable-width {
    width: 130px;
}

@mixin ig-selectable-height {
    height: 170px;
}

@mixin ig-transitionable($dur: 0s, $timing: ease-out) {
  -webkit-transition-duration: $dur;
  transition-duration: $dur;
  transition-timing-function: $timing; 
}
 

@mixin default-margin {
}


html, body, .container {
    padding: 10px;
    height: 100%;
}

.margin-base-vertical {
    margin: 40px 0;
}




.ig-container {

}

.ig-font{
    font-size: 14px;
    font-family: 'Oxygen', sans-serif;
}


.ig-selected {
    background-color: rgb(200,200,200);
}

.ig-graphsel-hoverable {

}

.ig-graphholder {
    padding: 20px;
}

.ig-graphsel-hoverable:hover {
    box-shadow: 0px 0px 0px 2px rgb(120,120,120);
}


.container [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    border: 1px solid #ddd;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
}


.ig-graphsel {
    @include ig-selectable-height;
    border-radius: 20px;
    cursor: pointer;
    /*border: solid 3px black;*/
}


.ig-empty {
    @extend .ig-graphsel;
    @include default-margin;
    font-weight: bold;
    font-size: 18px;
    color: white;
    background: white;
    border: none;
    height: 40px;
    cursor: auto;
}


.ig-graphsel-buttonholder {
    padding: 20px;
}


.ig-graphsel-button {
    @extend .ig-graphsel;
    @include default-margin;
    font-weight: bold;
    font-size: 18px;
    color: white;
    background: black;
    border: none;
    height: 40px;
    width: 100%;
}


.ig-button-column {
    width: 50%;
    margin: 0 auto;
}


.ig-graphsel-button:hover {
    background: rgb(140,140,140);
}



.ig-graphsel:active {
    /*background-color: rgb(200,200,200);*/
}

.ig-graphsel-image {
    position: absolute;
    width: 100px;
    height: 100px;
    left: calc(50% - 45px);
    top: 35px;;
}



.ig-graphsel-label {
    @extend .ig-font;
    position: absolute;
    bottom: 25px;
    color: rgb(70,70,70);
    left: 0px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
}



.ig-graph {
    border: solid 3px gray;
    height: 500px;
    width: 100%;
    overflow: hidden;
    float: left;
    margin: 20px;
    border-radius: 10px;
    background-color: white;
}


.ig-graph-lines {
    position: absolute;
    top: 15%;
    height: 80%;
    width: 97%;
}


.ig-graph-lines-week {
    @extend .ig-graph-lines;
}


.ig-graph-lines-hour {
    @extend .ig-graph-lines;
}


.ig-graph-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 15px;
    left: 32px;
    cursor: pointer;
}


.ig-graph-label {
    @extend .ig-font;
    font-size: 25px;
    position: absolute;
    top: 23px;
    font-weight: bold;
    left: 100px;
}

.ig-graph-togglebutton{
    @extend .ig-font;
    position: absolute;
    overflow: hidden;
    height: 30px;
    width: 60px;
    font-size: 12px;
    top: 25px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    border: solid 2px gray;
}

.ig-graph-togglebutton:hover{
    border: solid 2px rgb(100,100,100);
}


.ig-graph-inactive {
    opacity: 0;
    visibility: hidden;
}


.ig-graph-active {
    opacity: 1;
    visibility: visible;
}


.ig-graph-togglebutton-toggled {
    background-color: gray;
}

.ig-graph-weeklybutton {
    @extend .ig-graph-togglebutton;
    right: 20px;
}

.ig-graph-hourlybutton {
    @extend .ig-graph-togglebutton;
    right: 100px;
}

.ig-color-indicator {
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 10px;
    background-color: black;
}
