<html>
  <head>
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/jquery.flot.min.js"></script>
    <script src="/static/js/jquery.flot.time.min.js"></script>
    <script src="/static/js/jquery.flot.axislabels.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/graph.css" />
  </head>
  <body>
    {{.Header}}
  </body>
  <script>    
    $(document).ready(function () {
	
	// Page title
	$('#ig-page-label-content').html("_system performance");

	//
	// Setup Graphs
	//
	var Graphs = [];
	var Graph = function(wk, hr, label, query, unit, icon){
	    this.WeeklyData = wk;
	    this.HourlyData = hr;
	    this.Label = label;
	    this.Unit = unit;
	    this.Query = query;
	    this.IconSrc = icon;
	}

	//
	// Populate graphs - templated for go
	//
	var cDate = new Date().getTime();
	{{ $graphs := .Graphs }}{{ range $graphs }}
	Graphs.push(new Graph(
	    [{{range $index, $element := .WeeklyData}}[cDate +{{index $element 0}}, {{index $element 1}}],{{ end }}], 
	    [{{range $index, $element := .HourlyData}}[cDate +{{index $element 0}}, {{index $element 1}}],{{ end }}], 
	    "{{.Label}}", "{{.Query}}", "{{.Unit}}", "{{.IconSrc}}"));{{ end }}

	
	
	/**
	 * Fades out $(id1) for $(id2)
	 * @param {Element | jQuery | string} selector1 The selector to fade out.
	 * @param {Element | jQuery | string} selector2 The selector to fade in.
	 */
	function swapFade(selector1, selector2){
	    $(selector2).css('opacity', 0);
	    $(selector1).slideToggle(300, function(){
		$(selector2).css('opacity', 1);
		$(selector2).slideToggle(300);
	    });
	}
	
	// @return plot
	function plotGraph(id, data, igGraph){
	    id = '#' + id;
	    var plot = $.plot($(id), data, {
		xaxis: {
		    mode: "time", 
		    tickFormatter: function (val, axis) {
			return new Date(val).toLocaleString();
		    },
		    position: "bottom",
		    axisLabel: "Time",
		    axisLabelUseCanvas: false,
		    axisLabelFontSizePixels: 10,
		    axisLabelFontFamily: "'Oxygen', sans-serif",
		    axisLabelPadding: 0
		},
		yaxis: {
		    position: "left",
		    axisLabel: 't',//igGraph.Label + " (" + igGraph.Unit + ")",
		    axisLabelUseCanvas: false,
		    axisLabelFontSizePixels: 10,
		    axisLabelFontFamily: "'Oxygen', sans-serif",
		    axisLabelPadding: 20
		},
		series: {
		    points: {
			show: true,
			radius: 2
		    },
		    lines: {
			show: true
		    },
		    shadowSize: 0
		},
		grid: {
		    color: '#646464',
		    //backgroundColor: { colors: [ "#fff", "#eee" ] },
		    borderWidth: {
			top: 1,
			right: 1,
			bottom: 2,
			left: 2
		    },
		    hoverable: true
		},
	    });
	    
	    
	    $(id + ' #yaxisLabel').text(igGraph.Label + " (" + igGraph.Unit + ")").css({
		'left': -80
	    });
	    
	    
	    var previousPoint = null;    
	    var tooltip = $("<div id='" + id.split('lines-')[1] + "'></div>").css({
		position: "absolute",
		display: "none",
		border: "1px solid #fdd",
		padding: "2px",
		"background-color": "#fee",
		opacity: 0.80
	    }).appendTo("body");
	    
	    $(id).bind('plothover', function (event, pos, item) {
		if (item) {
		    var x = item.datapoint[0].toFixed(2),
		    y = item.datapoint[1].toFixed(2);
		    $(tooltip).html(new Date(parseInt(x)).toLocaleString() + 
				    "<br>" + y)
			.css({top: item.pageY+5, left: item.pageX+5, zIndex: 3})
			.fadeIn(200);
		    //window.console.log(document.getElementById(tooltipId));
		} else {
		    $(tooltip).hide();
		}
	    });
	    return plot;
	}
	
	// @return plots
	function plotGraphSet(igGraph){
	    var plots = [];
	    plots.push(plotGraph("graph-lines-hour-" + igGraph.Query, 
				 igGraph.HourlyData, igGraph));
	    plots.push(plotGraph("graph-lines-week-" + igGraph.Query, 
				 igGraph.WeeklyData, igGraph));
	    return plots
	}
	
	
	function createGraph(igGraph){
	    var d = document.createElement('div');
	    d.setAttribute("id", "graph-wrapper-" + igGraph.Query)
	    $(d).addClass('graph col-md-1').appendTo("#row2");
	    
	    
	    //
	    // Graph children (graphs, labels, buttons)
	    //
	    var childElements = [
		'graph-lines-week',
		'graph-lines-hour',
		'graph-label',
		'graph-handle',
		'graph-weeklybutton',
		'graph-hourlybutton',
		'graph-icon',
	    ]
	    
	    var eltType;
	    $.each(childElements, function(key, val){
		eltType = val.indexOf("button") > -1 ? "button" : "div";
		eltType = val.indexOf("icon") > -1 ? "img" : "div";
		jQuery('<' + eltType + '/>', {
		    id: val + '-' +  igGraph.Query,
		}).appendTo(d).addClass(val);		
	    })
		
		$("#graph-icon-" + igGraph.Query).attr('src', igGraph.IconSrc);
	    
	    var h = "#graph-lines-hour-" + igGraph.Query;
	    var w = "#graph-lines-week-" + igGraph.Query;
	    var hB = "#graph-hourlybutton-" + igGraph.Query;
	    var wB = "#graph-weeklybutton-" + igGraph.Query;
	    var l = "#graph-label-" + igGraph.Query;
	    
	    $("#graph-hourlybutton-" + igGraph.Query).html("Hour");
	    $("#graph-weeklybutton-" + igGraph.Query).html("Week");
	    
	    $("#graph-hourlybutton-" + igGraph.Query).click(function(){
		$(w).fadeOut(200, function(){
		    $(h).fadeIn(200);
		})
		$(hB).addClass('graph-togglebutton-toggled');
		$(wB).removeClass('graph-togglebutton-toggled');
		$(l).html($(l).html().replace("Week", "Hour"));
	    })
	    
	    $("#graph-weeklybutton-" + igGraph.Query).click(function(){
		$(h).fadeOut(200, function(){
		    $(w).fadeIn(200);
		})
		$(wB).addClass('graph-togglebutton-toggled');
		$(hB).removeClass('graph-togglebutton-toggled');
		$(l).html($(l).html().replace("Hour", "Week"));
	    })
	    
	    //$(hB).append('<div id="color-indicator-'+ igGraph.Query + '"></div>');
	    
	    jQuery('<div/>', {
		id: 'color-indicator-hour-' +  igGraph.Query,
	    }).appendTo(hB).addClass('color-indicator');
	    
	    jQuery('<div/>', {
		id: 'color-indicator-week-' +  igGraph.Query,
	    }).appendTo(wB).addClass('color-indicator');
	    
	    $(hB).trigger('click')
	    $(l).html(igGraph.Label + " (Past Hour)");
	    
	    return $(d)
	}
	
	
	function showTooltip(x, y, contents) {
	    $('<div id="tooltip">' + contents + '</div>').css({
		top: y - 16,
		left: x + 20
	    }).appendTo('body').fadeIn();
	}
	
	var i = 0;
	$.each(Graphs, function(key, igGraph){
	    graph = createGraph(igGraph);
	    $(graph).css({ 'opacity': 0 });
	    igGraph.WeeklyData = [{
		data: igGraph.WeeklyData,
		color: i
	    }];
	    
	    igGraph.HourlyData = [{
		data: igGraph.HourlyData,
		color: ++i
	    }];
	    
	    var plots = plotGraphSet(igGraph)
	    
	    $('#color-indicator-hour-' +  igGraph.Query).
		css({"background-color": plots[0].getData()[0].color});
	    $('#color-indicator-week-' +  igGraph.Query).
		css({"background-color": plots[1].getData()[0].color});
	    ++i;
	    
	    $(graph).css({
		'opacity': 1
	    });
	    $(graph).fadeOut(0);
	    $(graph).fadeIn(1000);
	})	    
	    
	    });


    
  </script>
</html>
